body {
  background-color: #005689;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.maincontainer {
  border: 2px solid #ff895d;
  box-shadow: 10px 10px 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  background-color: #d5eeff;
  width: 500px;
  border-radius: 6px;
}

h1 {
  font-size: 40pt;
  font-family: monospace;
  position: relative;
  left: 25%;
 display: inline-block;
 margin-top: 20px;
 
}
label,
button,
#submit {
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
  margin-top: 8%;
}

#ttl {
  width: 320px;
  
}
#hrs,
#mins {
  width: 110px;
}
.dy,
.mnth,
.yr {
  display: inline-block;
  margin-right: 74px;
}
.td {
  width: 100%;
  height: 40px;
  position: relative;
  padding-bottom: 60px;
  background-color: #ff895d;
  box-shadow: 4px 4px 6px ;
  border-radius: 6px;
  margin-top: 25px;
  display:inline-block;

}
button,
#submit {
  background-color: #ff895d;
  padding: 2%;
  border: 3px solid #005689;
  border-radius: 10px;
}
button:hover,
#submit:hover {
  color: #d5eeff;
  box-shadow: 5px 5px 15px #005689;
}
#submit {
  width: 300px;
  position: relative;
  left: 15%;
}
button {
  position: relative;
  bottom: 90px;
  left: 60%;
}
form {
  border: 1px solid #ff895d;
  box-shadow: 5px 5px 15px #005689;
  border-radius: 6px;
  padding: 30px;
  align-items: center;
}
h2{
  font-size: 18pt;
  font-family: monospace;
  position: relative;
   text-align: center;
   padding-bottom: 10px;
}

ul{
  position: relative;
  top: 12px;
  overflow-y: scroll;
  width: 210px;
  height: 70px;
}

#spanX{
  display: inline-block;
  position: relative;
  top:90px;

}
hr{
  color: #ff895d;

}

.done{
  text-decoration: line-through;
}
#x{
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;

}
#title{
  font-family: monospace;
  font-weight: 300;
  font-size: 15pt;
}